.botao_verde_enviar {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Georgia;
  color: #d5f2d8;
  font-size: 12px;
  background: #54ab5e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.botao_verde_enviar:hover {
  text-decoration: none;
}

.botao {
  display: inline-block;
  width: 100%;
  font-family: Source Sans Pro Regular, Helvetica, Arial, sans-serif;
  background: #6EA684;
  border: 0;
  font-weight: 300;
  font-size: 18px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  transition: all .5s ease-in-out;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  margin: 60px auto;
  text-align: center;
  text-decoration: none;
}
.botao:hover {
  background: #7CBA95;
  transition: all .5s ease-in-out;
}